@{
    ViewData["Title"] = "Student Page";
}
 
<input type="text"id="textSearch"style="margin-right:5px; " placeholder="Type Name"/>
<button id="btnGetStudent" class="btn btn-primary">Get Student</button>

<br/>
<br/>

<input type="hidden" id="textStudentId" style="margin-right:5px" />

<input type="text" id="txtName" style="margin-right:5px" placeholder="Name" />


<input type="text" id="txtAge" style="margin-right:5px"  placeholder="Age"/>
<button id="btnSvaeStudent" class="btn btn-success">Save Student</button>


<br/>
<br/>

<table id="tblStudent" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Student Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<script src="~/jquery/jquery.min.js"></script>
<script type="text/javascript">

    var _students =[];
        $("#btnGetStudent").click(function(){
            GetStudents();
        });

       $("#btnSvaeStudent").click(function(){
           var student ={
            StudentId: $("#textStudenId").val(),
            Name: $("#txtName").val(),
            Age: $("#txtAge").val()

           };
           $("Students/SaveOrUpdateStudent",student,function(){
            $("#textStudentId").val(0);
            GetStudents();
            Reset();
           });
       });
       function GetStudents(){
           _students=[];
        $("#tblStudent tbody tr").remove();

           var name = $.trim($("#textSearch").val());
           $.get("Studnets/GetStudent?name="+name,function(students){
               _students=students;
               $.map(studens,function(student){
                    $("#tblStudent  tbody").append(`<tr>

                       <td>`+ student.studentId +`</td>
                       <td>`+ student.name + `</td>
                       <td>`+ student.age +`</td>
                       <td>
                           <buttton class="btn btn-primary"  onclick = 'Edit(`+ student.studentId +`)'>Edit</button>
                          <buttton class="btn btn-warning"  onclick = 'Delete(`+ student.studentId + `)'>Delete</button>
                       </td>


                    </tr>`)
               });
           });

       }

       function Edit(studentId){
           var student =_students.find(x=>x.studentId==studentId);
           $("#textStudentId").val(student.studentId);
           $("#txtName").val(student.name);
           $("#txtAge").val(student.age);
       }

       function Delete(studentId){
           $.post("Studnet/Delete?studentId=" +studentId,function(){
               GetStudents();
           });
       }

       function Reset(){
          $("#textStudentId").val(0);
          $("#txtName").val("");
          $("#txtAge").val(0);
       }
    
</script>
